body{
    background-color: rgba(0, 47, 255, 0.315);
}


.expense-item {
    display: flex;
    justify-content: space-between;
}
.ex {
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 27%;
    margin-top: -4vw;
}
h2 {
    width: 57vw;
    margin-top: 6vw;
}